/*--General styles*/

:root{

    /*Primary colors*/
    --Bright-Blue: hsl(220, 98%, 61%);
    --Chec-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /*Light theme colors*/
    --light-Very-Light-Gray: hsl(0, 0%, 98%);
    --light-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --light-Light-Grayish-Blue: hsl(233, 11%, 84%);
    --light-Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --light-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    /*Dark theme colors*/
    --dark-Very-Dark-Blue: hsl(235, 21%, 11%);
    --dark-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --dark-Ligh-Grayish-Blue: hsl(234, 39%, 85%);
    --dark-Ligh-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --dark-Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --dark-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --dark-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    max-width: auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column; 

    min-height: 100vh;
    background-color: var(--light-Very-Light-Gray);
}

button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

a{
    color: black;
    text-decoration: none;
}

/*General styles--*/

/*--Header*/
header{
    background-image: url('../images/bg-desktop-light.jpg');
    padding: 3em 1em;

    background-repeat: no-repeat;
    background-size: cover;
}


.logo-themebtn-container{
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    width: min(60rem, 90%);
}

.header__title{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 0.4ch;

    user-select: none;
}
/*Header--*/


/*List and list items*/
.list-input{
    display: flex;
    align-items: center;

    margin: 0 auto;
    margin-top: 2em;
    background-color: white;
    width: min(60rem, 90%);

    border-radius: 5px;
}

.circle-shape{
    display: inline-block;

    margin-left: 1em;
    border: var(--light-Light-Grayish-Blue) 1px solid;
    padding: 0.6rem;

    border-radius: 50%;
}

.list-input__tag{
    display: inline-block;

    border: none;
    width: 100%;
    padding: 1rem 0 1rem 1rem;

    color: var(--light-Very-Dark-Grayish-Blue);

    border-radius: 5px;
}
.list-input__tag:focus{
    outline: none;
}
.list-input__tag::placeholder{
    color: var(--light-Dark-Grayish-Blue);
}
  .list-input__tag::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--light-Dark-Grayish-Blue);
}

.list-container{
    position: relative;
    z-index: 3;

    background-color: white;
    width: min(60rem, 85%);
    margin: 0 auto;
    
    transform: translateY(-2em);

    border-radius: 15px;
    box-shadow: 0rem 0.2rem 1rem  rgba(0, 0, 0, 0.4);
}

.list-item{
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid var(--light-Light-Grayish-Blue);
    padding: 1em 1.5em;
}
.circle-shape--li{
    background: var(--Chec-Background);
    border: none;
    margin-right: 1em;
    padding: 0.3em 0.5em;
}
.list-item__remove-btn-tag{
    margin-left: auto;
}

.list-item__text{
    width: 80%;
}

.list-container-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1em 0.5em;
}


.bottom-filters{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-filters--1{
    display: none;
}

.bottom-filters--2{
    background-color: white;
    width: min(60rem, 85%);
    margin: 1em auto 1em auto;
    padding: 1em;

    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 1rem  rgba(0, 0, 0, 0.1);
}

.filter-btns{
    margin: 0 0.5em;


}
/*List and list items--*/

/*--End-paragraph and footer*/

.end-paragraph{
    margin-top: auto;
    margin-bottom: 1em;

    text-align: center;
}

footer{
    background: var(--Chec-Background);
    padding: 1em;
    margin-top: auto;

    text-align: center;
}
/*End-paragraph and footer--*/


/*--Media query desktop*/

@media screen and (min-width: 50em){
    header{
        padding: 4em 1em 6em 1em;
    }

    .list-container{
        transform: translateY(-5em);
    }

    .bottom-filters--1{
        display: block;
    }

    .filter-btns{
        margin: 0 0.5em;
    }

    .bottom-filters--2{
        display: none;
    }

    .end-paragraph{
    }
}
/*Media query desktop--*/

